<ul>
    <li class="u-padding-all-s">
        <button ng-click="startProcess()" type="button" class="Button Button--default u-text-r-xs">BPM start</button>
    </li>
    <li class="u-padding-all-s">
        {{esito}}
    </li>
</ul>